**LINK PARA BASE DE DADOS:**  (http://dados.recife.pe.gov.br/dataset/rede-de-educacao-municipal/resource/7c613836-9edd-4c0f-bc72-495008dd29c3)


Dados sobre as escolas municipais do recife

In [ ]:
!wget -q !wget -q https://dlcdn.apache.org/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar xf spark-3.4.1-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql.functions import count, col, when
from pyspark.sql import functions as F

In [ ]:
# Iniciar uma sessão local e importar dados
from pyspark.sql import SparkSession
sc = SparkSession.builder.master('local[*]').getOrCreate()

In [ ]:
df = sc.read.csv("/content/info_unidadesensino_07102021.csv", header=True, inferSchema = True, sep = ";")

In [ ]:
df1 = df

In [ ]:
df1.dtypes

[('rpa', 'int'),
 ('tipo_cod', 'int'),
 ('tipo', 'string'),
 ('cod_escola', 'int'),
 ('escola', 'string'),
 ('inep', 'int'),
 ('rua', 'string'),
 ('numero', 'string'),
 ('cod_bairro', 'int'),
 ('bairro', 'string'),
 ('metragem', 'string'),
 ('qtd_alunos', 'int'),
 ('qtd_turmas', 'int'),
 ('qtd_professores', 'int'),
 ('escola_climatizada', 'string'),
 ('data_visita', 'string'),
 ('quadra_coberta', 'string'),
 ('quadra_descoberta', 'string'),
 ('biblioteca', 'string'),
 ('sala_recurso', 'string'),
 ('gestor', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double')]

**VISUALIZAÇÃO DOS DADOS**

In [ ]:
df1.show()

+---+--------+----------------+----------+--------------------+--------+--------------------+------+----------+------------------+--------+----------+----------+---------------+------------------+-----------+--------------+-----------------+----------+------------+--------------------+---------+--------+
|rpa|tipo_cod|            tipo|cod_escola|              escola|    inep|                 rua|numero|cod_bairro|            bairro|metragem|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|data_visita|quadra_coberta|quadra_descoberta|biblioteca|sala_recurso|              gestor|longitude|latitude|
+---+--------+----------------+----------+--------------------+--------+--------------------+------+----------+------------------+--------+----------+----------+---------------+------------------+-----------+--------------+-----------------+----------+------------+--------------------+---------+--------+
|  1|       1|ESCOLA MUNICIPAL|        90|ALMIRANTE SOARES ...|26120658|           CAMUTANGA|   180|        51|           CABANGA|   764,3|       387|        16|             12|               SIM|  27/2/2018|           NÃO|              NÃO|       SIM|         SIM| VERONICA MARIA LIMA|-34.89535|-8.07895|
|  1|       1|ESCOLA MUNICIPAL|       289|CIDADAO HERBERT D...|26121972|     ARNOBIO MARQUES|   310|       108|       SANTO AMARO|     206|       207|        12|             12|               NÂO|       null|           NÃO|              NÃO|       NÃO|         SIM|ANA CLAUDIA DO NA...|-34.88707|-8.04576|
|  1|       1|ESCOLA MUNICIPAL|       256|            DO COQUE|26122898|        MIRANDOPOLIS|    35|        43|ILHA JOANA BEZERRA|   840,5|       598|        26|             22|               NÂO|       null|           NÃO|              NÃO|       SIM|         SIM|GRIJALBA MARIA PE...|-34.90022|-8.07145|
|  1|       1|ESCOLA MUNICIPAL|        91|         DOS COELHOS|26118670|         DOS COELHOS|   591|        60|           COELHOS|    1322|       763|        35|             28|               NÂO|       null|           NÃO|              NÃO|       SIM|         SIM|FRANCISCA ANGELA ...|-34.89097|-8.06876|
|  1|       1|ESCOLA MUNICIPAL|       384|   FREI TADEU GLASER|26175347|  AGAMENON MAGALHAES|   600|       108|       SANTO AMARO|   398,4|       138|         8|              7|               NÂO|  19/4/2017|           NÃO|              NÃO|       SIM|         NÃO|KIRIA CELESTE DOR...|-34.87818|-8.04006|
|  1|       1|ESCOLA MUNICIPAL|       104|GENERAL EMIDIO DA...|26121980|          DA SAUDADE|   303|       108|       SANTO AMARO|  1402,1|       341|        19|             16|               NÂO|       null|           NÃO|              SIM|       SIM|         SIM|MARIA SANDRA MARQ...|-34.88342|-8.05086|
|  1|       1|ESCOLA MUNICIPAL|       282|    LUTADORES DO BEM|26121913|CORONEL VIRGILIO ...|   269|       108|       SANTO AMARO|   455,2|       277|        17|             14|               NÂO|       null|           NÃO|              NÃO|       SIM|         SIM|JOSANE PATRICIO S...|-34.87718|-8.04397|
|  1|       1|ESCOLA MUNICIPAL|       312|NOSSA SENHORA DO ...|26147300|      ALFREDO LISBOA|   S/N|        19|            RECIFE|   712,3|       171|        13|             11|               NÂO|       null|           NÃO|              SIM|       SIM|         SIM|RENATA ROSSY NOBL...|-34.86983|-8.05794|
|  1|       1|ESCOLA MUNICIPAL|       922|         NOVO MANGUE|26158400|     AVENIDA CENTRAL|   511|        43|ILHA JOANA BEZERRA|  1010,7|       419|        19|             13|               NÂO|       null|           NÃO|              SIM|       SIM|         SIM|FRANCISCO DE ASSI...|-34.90358| -8.0751|
|  1|       1|ESCOLA MUNICIPAL|        66|       PEDRO AUGUSTO|26121468|  BARAO DE SAO BORJA|   279|        86|         BOA VISTA|  2245,5|       387|        15|             13|               SIM|       null|           SIM|              NÃO|       SIM|         SIM|JOSENIDE MATIAS P...|-34.89012| -8.0605|
|  1|       1|ESCOLA MUNICIPAL|         4|PROFESSOR JOSE DA...|26121255|       CABO EUTROPIO|   660|        43|ILHA JOANA BEZERRA|  1454,4|       782|        30|             29|               NÂO|   6/6/2017|           SIM|              NÃO|       SIM|         SIM|SELME DE FIGUEIRO...|-34.90061|-8.07192|
|  1|       1|ESCOLA MUNICIPAL|       935|PROFESSOR JOSUE D...|26167891|  MARTIN LUTHER KING|   368|        43|ILHA JOANA BEZERRA|     388|       249|        14|             12|               NÂO|       null|           NÃO|              NÃO|       NÃO|         NÃO|MARCIA CLAUDIA MA...|-34.89907|-8.06952|
|  1|       1|ESCOLA MUNICIPAL|         1| REITOR JOAO ALFREDO|26121786|SENADOR JOSE HENR...|   160|        78|     ILHA DO LEITE|    1832|       330|        13|             13|               NÂO|       null|           SIM|              NÃO|       SIM|         SIM|MARILIA OLIVEIRA ...|-34.89518|-8.06503|
|  1|       1|ESCOLA MUNICIPAL|       189|         SANTO AMARO|26134379|               NORTE|   570|       108|       SANTO AMARO|   258,8|       527|        23|             18|               NÂO|       null|           NÃO|              NÃO|       SIM|         SIM|ANGELICA MARIA DE...| -34.8778|-8.04657|
|  1|       1|ESCOLA MUNICIPAL|        93|   SEDE DA SABEDORIA|26122014|             ARTEMIS|    30|       108|       SANTO AMARO|  1188,8|       510|        25|             16|               NÂO|  19/4/2017|           NÃO|              NÃO|       SIM|         SIM|LINDINALVA FERREI...|-34.87684|-8.04019|
|  1|       1|ESCOLA MUNICIPAL|        95|        SITIO DO CEU|26136269|            ANCHIETA|    85|       108|       SANTO AMARO|   238,7|       185|        10|             10|               SIM|  19/4/2017|           NÃO|              NÃO|       NÃO|         SIM|VIVIANE CRISTINA ...|-34.88053|-8.04132|
|  1|       2|CRECHE MUNICIPAL|       504|PROFESSOR FRANCIS...|26158701|  AGAMENON MAGALHAES|   S/N|       108|       SANTO AMARO|   440,8|       128|         8|              7|               NÂO|  25/4/2017|           NÃO|              NÃO|       NÃO|         NÃO|ELIANE RODRIGUES ...|-34.88857| -8.0451|
|  1|       2|CRECHE MUNICIPAL|       503|  SAO DOMINGOS SAVIO|26149753|         DOS CASADOS|   164|       108|       SANTO AMARO|   124,8|        30|         2|              2|               NÂO|       null|           NÃO|              NÃO|       NÃO|         NÃO|PATRICIA DE MORAI...|-34.87409|-8.03981|
|  1|       2|CRECHE MUNICIPAL|       502|          VOVO ARTUR|26149818|           BEIRA RIO|   S/N|        60|           COELHOS|   644,7|       104|         5|              5|               NÂO|       null|           NÃO|              NÃO|       NÃO|         NÃO|CORINA MARIA FREI...|-34.89116|-8.06907|
|  1|       5|            CMEI|       415|ANA ROSA FALCAO D...|26122022|           JOAO LYRA|   S/N|       108|       SANTO AMARO|  1878,9|       186|        10|             10|               SIM|  25/4/2017|           NÃO|              NÃO|       SIM|         SIM|RITA DE CASSIA CA...|-34.88006| -8.0561|
+---+--------+----------------+----------+--------------------+--------+--------------------+------+----------+------------------+--------+----------+----------+---------------+------------------+-----------+--------------+-----------------+----------+------------+--------------------+---------+--------+
only showing top 20 rows

In [ ]:
for columns in df1: # um for para percorrer cada valor distinto de cada tabela e mostrar
  print(df1.select(columns).distinct().show())

+---+
|rpa|
+---+
|  1|
|  6|
|  3|
|  5|
|  4|
|  2|
+---+

None
+--------+
|tipo_cod|
+--------+
|       1|
|       5|
|       8|
|       2|
+--------+

None
+-----------------+
|             tipo|
+-----------------+
|CRECHE ESC.RECIFE|
|             CMEI|
| ESCOLA MUNICIPAL|
| CRECHE MUNICIPAL|
+-----------------+

None
+----------+
|cod_escola|
+----------+
|       148|
|       496|
|       516|
|        31|
|       251|
|        85|
|       451|
|       137|
|       458|
|       255|
|       481|
|       133|
|        78|
|       321|
|       974|
|       375|
|       950|
|       108|
|        34|
|       530|
+----------+
only showing top 20 rows

None
+--------------------+
|              escola|
+--------------------+
|DIACONO ABEL GUEIROS|
|            DO PILAR|
|           ESPERANCA|
|PROFESSOR ORLANDO...|
|ALTO JARDIM PROGR...|
|   MAEZINHA DO COQUE|
|      IBURA DE BAIXO|
|PROFESSOR MOACYR ...|
|ARTISTA PLASTICO ...|
|           DO JORDAO|
|     MONTEIRO LOBATO|
|     LAGOA ENCANTADA|
|DONA CARMELITA MU...|
|PROFESSOR JOAO BA...|
|OCTAVIO DE MEIRA ...|
|            LUA LUAR|
|   ALTO DA GUABIRABA|
|     MUNDO ESPERANCA|
|        DOS REMEDIOS|
|GOVERNADOR MIGUEL...|
+--------------------+
only showing top 20 rows

None
+--------+
|    inep|
+--------+
|26121662|
|26149800|
|26153408|
|26123126|
|26153130|
|26164361|
|26153270|
|26175398|
|26117576|
|26136269|
|26128888|
|26118734|
|26121050|
|26154137|
|26185679|
|26153416|
|26177960|
|26157489|
|26124955|
|26122898|
+--------+
only showing top 20 rows

None
+--------------------+
|                 rua|
+--------------------+
|            ALTEROSA|
|      AVELINO CHAVES|
|ALTO JARDIM PROGR...|
|ALVARO TEIXEIRA M...|
|        MANOEL SILVA|
|          DA MUMBECA|
|      FAUSTO CARDOSO|
|JOAO JOAQUIM DE M...|
|       PEDRO BATISTA|
|            CARAPEBA|
|VEREADOR OTACILIO...|
|ELIANE FRAGOSO DO...|
|JORNALISTA EDSOU ...|
|DEP JOSE FRANCISC...|
|SOLDADO VIRGILIO ...|
|NORTE MIGUEL ARRA...|
|PADRE CARLOS LEONCIO|
|     ARNOBIO MARQUES|
|          AURILANDIA|
|  ALTO ANTONIO FELIX|
+--------------------+
only showing top 20 rows

None
+------+
|numero|
+------+
|    07|
|   125|
|  1265|
|   591|
|    51|
|  3895|
|   169|
|   470|
|    54|
|   700|
|   155|
|   200|
|   279|
|   685|
|   415|
|    69|
|   419|
|  1470|
|   112|
|    42|
+------+
only showing top 20 rows

None
+----------+
|cod_bairro|
+----------+
|       833|
|       540|
|        78|
|       876|
|       108|
|       744|
|       787|
|       914|
|       329|
|       388|
|       663|
|       604|
|       493|
|       230|
|       140|
|       353|
|       906|
|       280|
|        86|
|       760|
+----------+
only showing top 20 rows

None
+------------------+
|            bairro|
+------------------+
|  JARDIM SAO PAULO|
|           TORROES|
|CAMPINA DO BARRETO|
|  SITIO DOS PINTOS|
|             BARRO|
|          BEBERIBE|
|         MANGUEIRA|
|             COHAB|
|       SANTO AMARO|
|ALTO JOSE DO PINHO|
|            SANCHO|
|            FUNDAO|
|          SAO JOSE|
|          CAJUEIRO|
|            RECIFE|
|          CORDEIRO|
|         MACAXEIRA|
|          AFOGADOS|
|       DOIS IRMAOS|
|   ENGENHO DO MEIO|
+------------------+
only showing top 20 rows

None
+--------+
|metragem|
+--------+
|    1090|
|   940,7|
|   227,3|
|     718|
|  1297,5|
|     169|
|   371,4|
|  1590,3|
|   453,6|
|   815,9|
|     388|
|     495|
|     625|
|   727,7|
|   305,3|
|   397,8|
|   250,9|
|   455,2|
|      73|
|   347,8|
+--------+
only showing top 20 rows

None
+----------+
|qtd_alunos|
+----------+
|       148|
|       471|
|       463|
|       137|
|       251|
|        85|
|       458|
|        65|
|       322|
|        78|
|       633|
|       375|
|       155|
|       796|
|       101|
|       115|
|       126|
|        81|
|       385|
|       436|
+----------+
only showing top 20 rows

None
+----------+
|qtd_turmas|
+----------+
|        31|
|        28|
|        26|
|        27|
|        12|
|        22|
|        13|
|        16|
|         6|
|         3|
|        20|
|         5|
|        19|
|        15|
|        17|
|         9|
|        35|
|         4|
|         8|
|        23|
+----------+
only showing top 20 rows

None
+---------------+
|qtd_professores|
+---------------+
|             28|
|             26|
|             27|
|             12|
|             22|
|             13|
|             16|
|              6|
|              3|
|             20|
|              5|
|             19|
|             15|
|             37|
|              9|
|             17|
|              4|
|              8|
|             23|
|             39|
+---------------+
only showing top 20 rows

None
+------------------+
|escola_climatizada|
+------------------+
|               NÂO|
|               SIM|
+------------------+

None
+-----------+
|data_visita|
+-----------+
|   5/7/2017|
|   5/5/2017|
|  19/4/2017|
|  23/5/2017|
|   9/2/2017|
| 31/10/2017|
|   6/2/2017|
| 25/10/2017|
|  16/4/2018|
|  26/4/2017|
|  27/4/2017|
|   6/4/2018|
|  12/4/2017|
|       null|
|  10/4/2017|
|  16/6/2017|
| 12/12/2017|
|  13/2/2017|
|  13/6/2017|
|  20/4/2017|
+-----------+
only showing top 20 rows

None
+--------------+
|quadra_coberta|
+--------------+
|           NÃO|
|           SIM|
+--------------+

None
+-----------------+
|quadra_descoberta|
+-----------------+
|              NÃO|
|              SIM|
+-----------------+

None
+----------+
|biblioteca|
+----------+
|       NÃO|
|       SIM|
+----------+

None
+------------+
|sala_recurso|
+------------+
|         NÃO|
|         SIM|
+------------+

None
+--------------------+
|              gestor|
+--------------------+
|JOSANE PATRICIO S...|
|VIVIANE CRISTINA ...|
|EDVANIA MUNIZ DE ...|
|ANA PAULA DE FARI...|
|ELAINE JAQUELINE ...|
|FLAVIA THAIS DOS ...|
|SANDRA DE OLIVEIR...|
|ELIZANGELA TAVARE...|
|ANA PAULA DE ARAU...|
|GIULLIANA BEZERRA...|
|VIVIANE MENEZES D...|
|GEISA CONCEICAO T...|
|KARLA CABRAL BARROCA|
|MONICA SAMPAIO DO...|
|SUELY PEREIRA BEL...|
|SANDRA CRISTINA D...|
|ELAINE ROZENTAL D...|
|ANA CRISTINA TEIX...|
|LADJANE CACILDA G...|
|NATHALINE ALVES D...|
+--------------------+
only showing top 20 rows

None
+---------+
|longitude|
+---------+
|-34.93674|
|-34.91801|
|-34.93391|
| -34.9413|
|-34.90527|
|-34.95704|
|-34.90247|
|-34.90728|
|-34.92078|
|-34.93104|
| -34.9127|
|-34.94104|
|-34.92523|
|-34.88342|
|-34.90285|
|-34.94088|
|-34.93616|
|-34.92449|
|-34.91042|
|-34.92588|
+---------+
only showing top 20 rows

None
+--------+
|latitude|
+--------+
| -7.9805|
|-8.00279|
|-8.06122|
|-8.02694|
| -8.0666|
|-8.13541|
|-7.98561|
|-8.01129|
|-8.11032|
|-8.10834|
|-8.01853|
|-8.06552|
|-8.09935|
|-8.11401|
|-8.10895|
|-8.03843|
|-8.00465|
|-8.07947|
|-8.12921|
| -8.0072|
+--------+
only showing top 20 rows

None

**TRANSFORMAÇÃO DOS DADOS**

In [ ]:
df1 = df1.withColumn("data_visita", when(col("data_visita").isNull(), "NAN").otherwise(col("data_visita")))  #Alterando os valores nulos por NAN só para ver se pegava

# df1 = df1.withColumn("data_visita", when(col("data_visita") == "valor", "valor alterad").otherwise(col("data_visita"))) # como alterar um valor diferente de null

In [ ]:
df1 = df1.withColumn("tipo", when(col("tipo") == "centros munic de ed.infantil", "CMEI").otherwise(col("tipo")))

In [ ]:
df1 = df1.drop("longitude", "latitude", "quadra_descoberta", "metragem", "tipo_cod", "inep") # dropando colunas que não irei usar

In [ ]:
df1 = df1.withColumnRenamed("rpa", "região politico administrativa") # renomeando coluna que não irei usar

In [ ]:
df1.show()

+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+-----------+--------------+----------+------------+--------------------+
|região politico administrativa|            tipo|cod_escola|              escola|                 rua|numero|cod_bairro|            bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|data_visita|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+-----------+--------------+----------+------------+--------------------+
|                             1|ESCOLA MUNICIPAL|        90|ALMIRANTE SOARES ...|           CAMUTANGA|   180|        51|           CABANGA|       387|        16|             12|               SIM|  27/2/2018|           NÃO|       SIM|         SIM| VERONICA MARIA LIMA|
|                             1|ESCOLA MUNICIPAL|       289|CIDADAO HERBERT D...|     ARNOBIO MARQUES|   310|       108|       SANTO AMARO|       207|        12|             12|               NÂO|        NAN|           NÃO|       NÃO|         SIM|ANA CLAUDIA DO NA...|
|                             1|ESCOLA MUNICIPAL|       256|            DO COQUE|        MIRANDOPOLIS|    35|        43|ILHA JOANA BEZERRA|       598|        26|             22|               NÂO|        NAN|           NÃO|       SIM|         SIM|GRIJALBA MARIA PE...|
|                             1|ESCOLA MUNICIPAL|        91|         DOS COELHOS|         DOS COELHOS|   591|        60|           COELHOS|       763|        35|             28|               NÂO|        NAN|           NÃO|       SIM|         SIM|FRANCISCA ANGELA ...|
|                             1|ESCOLA MUNICIPAL|       384|   FREI TADEU GLASER|  AGAMENON MAGALHAES|   600|       108|       SANTO AMARO|       138|         8|              7|               NÂO|  19/4/2017|           NÃO|       SIM|         NÃO|KIRIA CELESTE DOR...|
|                             1|ESCOLA MUNICIPAL|       104|GENERAL EMIDIO DA...|          DA SAUDADE|   303|       108|       SANTO AMARO|       341|        19|             16|               NÂO|        NAN|           NÃO|       SIM|         SIM|MARIA SANDRA MARQ...|
|                             1|ESCOLA MUNICIPAL|       282|    LUTADORES DO BEM|CORONEL VIRGILIO ...|   269|       108|       SANTO AMARO|       277|        17|             14|               NÂO|        NAN|           NÃO|       SIM|         SIM|JOSANE PATRICIO S...|
|                             1|ESCOLA MUNICIPAL|       312|NOSSA SENHORA DO ...|      ALFREDO LISBOA|   S/N|        19|            RECIFE|       171|        13|             11|               NÂO|        NAN|           NÃO|       SIM|         SIM|RENATA ROSSY NOBL...|
|                             1|ESCOLA MUNICIPAL|       922|         NOVO MANGUE|     AVENIDA CENTRAL|   511|        43|ILHA JOANA BEZERRA|       419|        19|             13|               NÂO|        NAN|           NÃO|       SIM|         SIM|FRANCISCO DE ASSI...|
|                             1|ESCOLA MUNICIPAL|        66|       PEDRO AUGUSTO|  BARAO DE SAO BORJA|   279|        86|         BOA VISTA|       387|        15|             13|               SIM|        NAN|           SIM|       SIM|         SIM|JOSENIDE MATIAS P...|
|                             1|ESCOLA MUNICIPAL|         4|PROFESSOR JOSE DA...|       CABO EUTROPIO|   660|        43|ILHA JOANA BEZERRA|       782|        30|             29|               NÂO|   6/6/2017|           SIM|       SIM|         SIM|SELME DE FIGUEIRO...|
|                             1|ESCOLA MUNICIPAL|       935|PROFESSOR JOSUE D...|  MARTIN LUTHER KING|   368|        43|ILHA JOANA BEZERRA|       249|        14|             12|               NÂO|        NAN|           NÃO|       NÃO|         NÃO|MARCIA CLAUDIA MA...|
|                             1|ESCOLA MUNICIPAL|         1| REITOR JOAO ALFREDO|SENADOR JOSE HENR...|   160|        78|     ILHA DO LEITE|       330|        13|             13|               NÂO|        NAN|           SIM|       SIM|         SIM|MARILIA OLIVEIRA ...|
|                             1|ESCOLA MUNICIPAL|       189|         SANTO AMARO|               NORTE|   570|       108|       SANTO AMARO|       527|        23|             18|               NÂO|        NAN|           NÃO|       SIM|         SIM|ANGELICA MARIA DE...|
|                             1|ESCOLA MUNICIPAL|        93|   SEDE DA SABEDORIA|             ARTEMIS|    30|       108|       SANTO AMARO|       510|        25|             16|               NÂO|  19/4/2017|           NÃO|       SIM|         SIM|LINDINALVA FERREI...|
|                             1|ESCOLA MUNICIPAL|        95|        SITIO DO CEU|            ANCHIETA|    85|       108|       SANTO AMARO|       185|        10|             10|               SIM|  19/4/2017|           NÃO|       NÃO|         SIM|VIVIANE CRISTINA ...|
|                             1|CRECHE MUNICIPAL|       504|PROFESSOR FRANCIS...|  AGAMENON MAGALHAES|   S/N|       108|       SANTO AMARO|       128|         8|              7|               NÂO|  25/4/2017|           NÃO|       NÃO|         NÃO|ELIANE RODRIGUES ...|
|                             1|CRECHE MUNICIPAL|       503|  SAO DOMINGOS SAVIO|         DOS CASADOS|   164|       108|       SANTO AMARO|        30|         2|              2|               NÂO|        NAN|           NÃO|       NÃO|         NÃO|PATRICIA DE MORAI...|
|                             1|CRECHE MUNICIPAL|       502|          VOVO ARTUR|           BEIRA RIO|   S/N|        60|           COELHOS|       104|         5|              5|               NÂO|        NAN|           NÃO|       NÃO|         NÃO|CORINA MARIA FREI...|
|                             1|            CMEI|       415|ANA ROSA FALCAO D...|           JOAO LYRA|   S/N|       108|       SANTO AMARO|       186|        10|             10|               SIM|  25/4/2017|           NÃO|       SIM|         SIM|RITA DE CASSIA CA...|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+-----------+--------------+----------+------------+--------------------+
only showing top 20 rows

In [ ]:
df1 = df1.drop("data_visita") # deletando mais uma colunas

In [ ]:
biblioteca = df1.groupBy('biblioteca').agg(F.count('biblioteca')).orderBy(F.count('biblioteca').desc()).show(10)

+----------+-----------------+
|biblioteca|count(biblioteca)|
+----------+-----------------+
|       SIM|              180|
|       NÃO|              171|
+----------+-----------------+

In [ ]:
df1.select("escola").distinct().count()

351

In [ ]:
bairro = df1.select("bairro").agg(F.count('bairro')).show()

+-------------+
|count(bairro)|
+-------------+
|          351|
+-------------+

In [ ]:
df1.select("numero").distinct().show(20)

+------+
|numero|
+------+
|    07|
|   125|
|  1265|
|   591|
|    51|
|  3895|
|   169|
|   470|
|    54|
|   700|
|   155|
|   200|
|   279|
|   685|
|   415|
|    69|
|   419|
|  1470|
|   112|
|    42|
+------+
only showing top 20 rows

In [ ]:
numero = df1.groupBy('numero').agg(F.count('numero')).orderBy(F.count('numero').desc()).show()

+------+-------------+
|numero|count(numero)|
+------+-------------+
|   S/N|           77|
|    SN|            9|
|   395|            5|
|   200|            4|
|    35|            4|
|    30|            3|
|    52|            3|
|   195|            3|
|   320|            3|
|   300|            3|
|   100|            3|
|    41|            3|
|   111|            3|
|   115|            3|
|   134|            3|
|   127|            3|
|    10|            3|
|    28|            2|
|    85|            2|
|   356|            2|
+------+-------------+
only showing top 20 rows

In [ ]:
df1 = df1.withColumn("numero", when(col("numero") == "S/N", "SN").otherwise(col("numero")))

In [ ]:
numero = df1.groupBy('numero').agg(F.count('numero')).orderBy(F.count('numero').desc()).show(10)

+------+-------------+
|numero|count(numero)|
+------+-------------+
|    SN|           86|
|   395|            5|
|   200|            4|
|    35|            4|
|   100|            3|
|    52|            3|
|    41|            3|
|   115|            3|
|   134|            3|
|   195|            3|
+------+-------------+
only showing top 10 rows

**CONSULTAS**

In [ ]:
df1.show()

+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|            tipo|cod_escola|              escola|                 rua|numero|cod_bairro|            bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             1|ESCOLA MUNICIPAL|        90|ALMIRANTE SOARES ...|           CAMUTANGA|   180|        51|           CABANGA|       387|        16|             12|               SIM|           NÃO|       SIM|         SIM| VERONICA MARIA LIMA|
|                             1|ESCOLA MUNICIPAL|       289|CIDADAO HERBERT D...|     ARNOBIO MARQUES|   310|       108|       SANTO AMARO|       207|        12|             12|               NÂO|           NÃO|       NÃO|         SIM|ANA CLAUDIA DO NA...|
|                             1|ESCOLA MUNICIPAL|       256|            DO COQUE|        MIRANDOPOLIS|    35|        43|ILHA JOANA BEZERRA|       598|        26|             22|               NÂO|           NÃO|       SIM|         SIM|GRIJALBA MARIA PE...|
|                             1|ESCOLA MUNICIPAL|        91|         DOS COELHOS|         DOS COELHOS|   591|        60|           COELHOS|       763|        35|             28|               NÂO|           NÃO|       SIM|         SIM|FRANCISCA ANGELA ...|
|                             1|ESCOLA MUNICIPAL|       384|   FREI TADEU GLASER|  AGAMENON MAGALHAES|   600|       108|       SANTO AMARO|       138|         8|              7|               NÂO|           NÃO|       SIM|         NÃO|KIRIA CELESTE DOR...|
|                             1|ESCOLA MUNICIPAL|       104|GENERAL EMIDIO DA...|          DA SAUDADE|   303|       108|       SANTO AMARO|       341|        19|             16|               NÂO|           NÃO|       SIM|         SIM|MARIA SANDRA MARQ...|
|                             1|ESCOLA MUNICIPAL|       282|    LUTADORES DO BEM|CORONEL VIRGILIO ...|   269|       108|       SANTO AMARO|       277|        17|             14|               NÂO|           NÃO|       SIM|         SIM|JOSANE PATRICIO S...|
|                             1|ESCOLA MUNICIPAL|       312|NOSSA SENHORA DO ...|      ALFREDO LISBOA|    SN|        19|            RECIFE|       171|        13|             11|               NÂO|           NÃO|       SIM|         SIM|RENATA ROSSY NOBL...|
|                             1|ESCOLA MUNICIPAL|       922|         NOVO MANGUE|     AVENIDA CENTRAL|   511|        43|ILHA JOANA BEZERRA|       419|        19|             13|               NÂO|           NÃO|       SIM|         SIM|FRANCISCO DE ASSI...|
|                             1|ESCOLA MUNICIPAL|        66|       PEDRO AUGUSTO|  BARAO DE SAO BORJA|   279|        86|         BOA VISTA|       387|        15|             13|               SIM|           SIM|       SIM|         SIM|JOSENIDE MATIAS P...|
|                             1|ESCOLA MUNICIPAL|         4|PROFESSOR JOSE DA...|       CABO EUTROPIO|   660|        43|ILHA JOANA BEZERRA|       782|        30|             29|               NÂO|           SIM|       SIM|         SIM|SELME DE FIGUEIRO...|
|                             1|ESCOLA MUNICIPAL|       935|PROFESSOR JOSUE D...|  MARTIN LUTHER KING|   368|        43|ILHA JOANA BEZERRA|       249|        14|             12|               NÂO|           NÃO|       NÃO|         NÃO|MARCIA CLAUDIA MA...|
|                             1|ESCOLA MUNICIPAL|         1| REITOR JOAO ALFREDO|SENADOR JOSE HENR...|   160|        78|     ILHA DO LEITE|       330|        13|             13|               NÂO|           SIM|       SIM|         SIM|MARILIA OLIVEIRA ...|
|                             1|ESCOLA MUNICIPAL|       189|         SANTO AMARO|               NORTE|   570|       108|       SANTO AMARO|       527|        23|             18|               NÂO|           NÃO|       SIM|         SIM|ANGELICA MARIA DE...|
|                             1|ESCOLA MUNICIPAL|        93|   SEDE DA SABEDORIA|             ARTEMIS|    30|       108|       SANTO AMARO|       510|        25|             16|               NÂO|           NÃO|       SIM|         SIM|LINDINALVA FERREI...|
|                             1|ESCOLA MUNICIPAL|        95|        SITIO DO CEU|            ANCHIETA|    85|       108|       SANTO AMARO|       185|        10|             10|               SIM|           NÃO|       NÃO|         SIM|VIVIANE CRISTINA ...|
|                             1|CRECHE MUNICIPAL|       504|PROFESSOR FRANCIS...|  AGAMENON MAGALHAES|    SN|       108|       SANTO AMARO|       128|         8|              7|               NÂO|           NÃO|       NÃO|         NÃO|ELIANE RODRIGUES ...|
|                             1|CRECHE MUNICIPAL|       503|  SAO DOMINGOS SAVIO|         DOS CASADOS|   164|       108|       SANTO AMARO|        30|         2|              2|               NÂO|           NÃO|       NÃO|         NÃO|PATRICIA DE MORAI...|
|                             1|CRECHE MUNICIPAL|       502|          VOVO ARTUR|           BEIRA RIO|    SN|        60|           COELHOS|       104|         5|              5|               NÂO|           NÃO|       NÃO|         NÃO|CORINA MARIA FREI...|
|                             1|            CMEI|       415|ANA ROSA FALCAO D...|           JOAO LYRA|    SN|       108|       SANTO AMARO|       186|        10|             10|               SIM|           NÃO|       SIM|         SIM|RITA DE CASSIA CA...|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
only showing top 20 rows

Mostrar escolas em santo amaro sem climatização

In [ ]:
df1.filter((df1['bairro'] == 'SANTO AMARO') & (df1['escola_climatizada'].isin(['NÂO']))).show()

+------------------------------+----------------+----------+--------------------+--------------------+------+----------+-----------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|            tipo|cod_escola|              escola|                 rua|numero|cod_bairro|     bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+-----------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             1|ESCOLA MUNICIPAL|       289|CIDADAO HERBERT D...|     ARNOBIO MARQUES|   310|       108|SANTO AMARO|       207|        12|             12|               NÂO|           NÃO|       NÃO|         SIM|ANA CLAUDIA DO NA...|
|                             1|ESCOLA MUNICIPAL|       384|   FREI TADEU GLASER|  AGAMENON MAGALHAES|   600|       108|SANTO AMARO|       138|         8|              7|               NÂO|           NÃO|       SIM|         NÃO|KIRIA CELESTE DOR...|
|                             1|ESCOLA MUNICIPAL|       104|GENERAL EMIDIO DA...|          DA SAUDADE|   303|       108|SANTO AMARO|       341|        19|             16|               NÂO|           NÃO|       SIM|         SIM|MARIA SANDRA MARQ...|
|                             1|ESCOLA MUNICIPAL|       282|    LUTADORES DO BEM|CORONEL VIRGILIO ...|   269|       108|SANTO AMARO|       277|        17|             14|               NÂO|           NÃO|       SIM|         SIM|JOSANE PATRICIO S...|
|                             1|ESCOLA MUNICIPAL|       189|         SANTO AMARO|               NORTE|   570|       108|SANTO AMARO|       527|        23|             18|               NÂO|           NÃO|       SIM|         SIM|ANGELICA MARIA DE...|
|                             1|ESCOLA MUNICIPAL|        93|   SEDE DA SABEDORIA|             ARTEMIS|    30|       108|SANTO AMARO|       510|        25|             16|               NÂO|           NÃO|       SIM|         SIM|LINDINALVA FERREI...|
|                             1|CRECHE MUNICIPAL|       504|PROFESSOR FRANCIS...|  AGAMENON MAGALHAES|    SN|       108|SANTO AMARO|       128|         8|              7|               NÂO|           NÃO|       NÃO|         NÃO|ELIANE RODRIGUES ...|
|                             1|CRECHE MUNICIPAL|       503|  SAO DOMINGOS SAVIO|         DOS CASADOS|   164|       108|SANTO AMARO|        30|         2|              2|               NÂO|           NÃO|       NÃO|         NÃO|PATRICIA DE MORAI...|
|                             1|            CMEI|       426|  COELHINHO PENSANTE|     FATIMA TEIXEIRA|    41|       108|SANTO AMARO|       101|         7|              6|               NÂO|           NÃO|       SIM|         NÃO|VIVIANE MENEZES D...|
+------------------------------+----------------+----------+--------------------+--------------------+------+----------+-----------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+

Mostrar escolas na Boa Vista com climatização

In [ ]:
df1.filter((df1['bairro'] == 'BOA VISTA') & (df1['escola_climatizada'].isin(['SIM']))).show()

+------------------------------+----------------+----------+--------------------+------------------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|            tipo|cod_escola|              escola|               rua|numero|cod_bairro|   bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+----------------+----------+--------------------+------------------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             1|ESCOLA MUNICIPAL|        66|       PEDRO AUGUSTO|BARAO DE SAO BORJA|   279|        86|BOA VISTA|       387|        15|             13|               SIM|           SIM|       SIM|         SIM|JOSENIDE MATIAS P...|
|                             3|ESCOLA MUNICIPAL|       405|PADRE ANTONIO HEN...|         PAISSANDU|   112|        86|BOA VISTA|       115|         8|              4|               SIM|           NÃO|       SIM|         NÃO|                null|
+------------------------------+----------------+----------+--------------------+------------------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+

Mostrar escolas de Recife que não possuem biblioteca

In [ ]:
df1.filter((df1['bairro'] == 'RECIFE') & (df1['biblioteca'].isin(['NÃO']))).show()

+------------------------------+-----------------+----------+--------------------+---------------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|             tipo|cod_escola|              escola|            rua|numero|cod_bairro|bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+-----------------+----------+--------------------+---------------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             1|             CMEI|       425|DOUTOR ALBERICO D...|  CAIS DO APOLO|   925|        19|RECIFE|       103|         7|              6|               NÂO|           NÃO|       NÃO|         NÃO|ANA CRISTINA TEIX...|
|                             1|CRECHE ESC.RECIFE|       495|            DO PILAR|RUA DO OCIDENTE|    SN|        19|RECIFE|       119|         6|              6|               NÂO|           NÃO|       NÃO|         NÃO|ROBERTA KAROLINA ...|
|                             1|CRECHE ESC.RECIFE|        35|PORTO DIGITAL DO ...|           null|   050|        19|RECIFE|        82|         5|              4|               NÂO|           NÃO|       NÃO|         NÃO|CRISTIANE GONCALV...|
+------------------------------+-----------------+----------+--------------------+---------------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+

Trazendo as escolas da região 6 que possuem mais de 500 alunos e não possue uma biblioteca na escola

In [ ]:
df1.filter((df1['região politico administrativa'] == 6) & (df1['qtd_alunos'] > 500) & (df1['biblioteca'] == "NÃO")).show()

+------------------------------+----------------+----------+--------------------+-----------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|            tipo|cod_escola|              escola|        rua|numero|cod_bairro|bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+----------------+----------+--------------------+-----------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             6|ESCOLA MUNICIPAL|       164|POETA PAULO BANDE...|DAS PANELAS|    28|       884| COHAB|       541|        24|             17|               SIM|           NÃO|       NÃO|         SIM|MARIA ANDREZA CAB...|
|                             6|ESCOLA MUNICIPAL|       188|PROFESSOR SIMOES ...|  DOIS RIOS|    SN|       230| IBURA|       610|        29|             19|               SIM|           NÃO|       NÃO|         SIM|SILVIA PATRICIA B...|
+------------------------------+----------------+----------+--------------------+-----------+------+----------+------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+

Trazendo as escolas do bairro de santo amaro que não possuem recurso de sala

In [ ]:
df1.filter((df1['bairro'] == "SANTO AMARO" ) & (df1['sala_recurso'] == 'NÃO')).show()

+------------------------------+----------------+----------+--------------------+---------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+------+
|região politico administrativa|            tipo|cod_escola|              escola|      rua|numero|cod_bairro|   bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|gestor|
+------------------------------+----------------+----------+--------------------+---------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+------+
|                             3|ESCOLA MUNICIPAL|       405|PADRE ANTONIO HEN...|PAISSANDU|   112|        86|BOA VISTA|       115|         8|              4|               SIM|           NÃO|       SIM|         NÃO|  null|
+------------------------------+----------------+----------+--------------------+---------+------+----------+---------+----------+----------+---------------+------------------+--------------+----------+------------+------+

Trazendo os valores a quantidade das escolas das regiões que possuem ou não recurso de sala de aula

In [ ]:
df1.groupBy('região politico administrativa', 'sala_recurso').count().orderBy("região politico administrativa").show()

+------------------------------+------------+-----+
|região politico administrativa|sala_recurso|count|
+------------------------------+------------+-----+
|                             1|         NÃO|   10|
|                             1|         SIM|   16|
|                             2|         SIM|   21|
|                             2|         NÃO|   28|
|                             3|         SIM|   31|
|                             3|         NÃO|   47|
|                             4|         NÃO|   35|
|                             4|         SIM|   24|
|                             5|         NÃO|   25|
|                             5|         SIM|   27|
|                             6|         NÃO|   53|
|                             6|         SIM|   34|
+------------------------------+------------+-----+

Procurando uma escola que tem mais turmas que a quantidade de alunos e encontramos apenas uma escola que nao tem alunos e nem professores, acredito que esta escola não está em atividade na época da database

In [ ]:
df1.filter((df1['qtd_turmas']) > (df1['qtd_alunos'])).show()

+------------------------------+----------------+----------+--------------------+----------+------+----------+--------+----------+----------+---------------+------------------+--------------+----------+------------+------+
|região politico administrativa|            tipo|cod_escola|              escola|       rua|numero|cod_bairro|  bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|gestor|
+------------------------------+----------------+----------+--------------------+----------+------+----------+--------+----------+----------+---------------+------------------+--------------+----------+------------+------+
|                             3|ESCOLA MUNICIPAL|       423|PROFESSOR NILO PE...|DO ARRAIAL|  4744|       485|MONTEIRO|         0|        12|              0|               NÂO|           SIM|       SIM|         SIM|  null|
+------------------------------+----------------+----------+--------------------+----------+------+----------+--------+----------+----------+---------------+------------------+--------------+----------+------------+------+

Essa consulta mostra asescolas que possuem menos professores que a quantidade de turmas

In [ ]:
teste = df1.filter((df1['qtd_professores']) < (df1['qtd_turmas'])).show()

+------------------------------+-----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|região politico administrativa|             tipo|cod_escola|              escola|                 rua|numero|cod_bairro|            bairro|qtd_alunos|qtd_turmas|qtd_professores|escola_climatizada|quadra_coberta|biblioteca|sala_recurso|              gestor|
+------------------------------+-----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
|                             1| ESCOLA MUNICIPAL|        90|ALMIRANTE SOARES ...|           CAMUTANGA|   180|        51|           CABANGA|       387|        16|             12|               SIM|           NÃO|       SIM|         SIM| VERONICA MARIA LIMA|
|                             1| ESCOLA MUNICIPAL|       256|            DO COQUE|        MIRANDOPOLIS|    35|        43|ILHA JOANA BEZERRA|       598|        26|             22|               NÂO|           NÃO|       SIM|         SIM|GRIJALBA MARIA PE...|
|                             1| ESCOLA MUNICIPAL|        91|         DOS COELHOS|         DOS COELHOS|   591|        60|           COELHOS|       763|        35|             28|               NÂO|           NÃO|       SIM|         SIM|FRANCISCA ANGELA ...|
|                             1| ESCOLA MUNICIPAL|       384|   FREI TADEU GLASER|  AGAMENON MAGALHAES|   600|       108|       SANTO AMARO|       138|         8|              7|               NÂO|           NÃO|       SIM|         NÃO|KIRIA CELESTE DOR...|
|                             1| ESCOLA MUNICIPAL|       104|GENERAL EMIDIO DA...|          DA SAUDADE|   303|       108|       SANTO AMARO|       341|        19|             16|               NÂO|           NÃO|       SIM|         SIM|MARIA SANDRA MARQ...|
|                             1| ESCOLA MUNICIPAL|       282|    LUTADORES DO BEM|CORONEL VIRGILIO ...|   269|       108|       SANTO AMARO|       277|        17|             14|               NÂO|           NÃO|       SIM|         SIM|JOSANE PATRICIO S...|
|                             1| ESCOLA MUNICIPAL|       312|NOSSA SENHORA DO ...|      ALFREDO LISBOA|    SN|        19|            RECIFE|       171|        13|             11|               NÂO|           NÃO|       SIM|         SIM|RENATA ROSSY NOBL...|
|                             1| ESCOLA MUNICIPAL|       922|         NOVO MANGUE|     AVENIDA CENTRAL|   511|        43|ILHA JOANA BEZERRA|       419|        19|             13|               NÂO|           NÃO|       SIM|         SIM|FRANCISCO DE ASSI...|
|                             1| ESCOLA MUNICIPAL|        66|       PEDRO AUGUSTO|  BARAO DE SAO BORJA|   279|        86|         BOA VISTA|       387|        15|             13|               SIM|           SIM|       SIM|         SIM|JOSENIDE MATIAS P...|
|                             1| ESCOLA MUNICIPAL|         4|PROFESSOR JOSE DA...|       CABO EUTROPIO|   660|        43|ILHA JOANA BEZERRA|       782|        30|             29|               NÂO|           SIM|       SIM|         SIM|SELME DE FIGUEIRO...|
|                             1| ESCOLA MUNICIPAL|       935|PROFESSOR JOSUE D...|  MARTIN LUTHER KING|   368|        43|ILHA JOANA BEZERRA|       249|        14|             12|               NÂO|           NÃO|       NÃO|         NÃO|MARCIA CLAUDIA MA...|
|                             1| ESCOLA MUNICIPAL|       189|         SANTO AMARO|               NORTE|   570|       108|       SANTO AMARO|       527|        23|             18|               NÂO|           NÃO|       SIM|         SIM|ANGELICA MARIA DE...|
|                             1| ESCOLA MUNICIPAL|        93|   SEDE DA SABEDORIA|             ARTEMIS|    30|       108|       SANTO AMARO|       510|        25|             16|               NÂO|           NÃO|       SIM|         SIM|LINDINALVA FERREI...|
|                             1| CRECHE MUNICIPAL|       504|PROFESSOR FRANCIS...|  AGAMENON MAGALHAES|    SN|       108|       SANTO AMARO|       128|         8|              7|               NÂO|           NÃO|       NÃO|         NÃO|ELIANE RODRIGUES ...|
|                             1|             CMEI|       426|  COELHINHO PENSANTE|     FATIMA TEIXEIRA|    41|       108|       SANTO AMARO|       101|         7|              6|               NÂO|           NÃO|       SIM|         NÃO|VIVIANE MENEZES D...|
|                             1|             CMEI|       425|DOUTOR ALBERICO D...|       CAIS DO APOLO|   925|        19|            RECIFE|       103|         7|              6|               NÂO|           NÃO|       NÃO|         NÃO|ANA CRISTINA TEIX...|
|                             1|CRECHE ESC.RECIFE|        35|PORTO DIGITAL DO ...|                null|   050|        19|            RECIFE|        82|         5|              4|               NÂO|           NÃO|       NÃO|         NÃO|CRISTIANE GONCALV...|
|                             2| ESCOLA MUNICIPAL|       111|          ALDA ROMEU|  CORREGO DO DEODATO|   685|       337|         AGUA FRIA|       338|        17|             13|               NÂO|           NÃO|       SIM|         SIM|GEORGIA CRISTINA ...|
|                             2| ESCOLA MUNICIPAL|       187|    ALTO DO MARACANA|           VILA FLOR|   356|       396|       DOIS UNIDOS|       446|        23|             14|               NÂO|           NÃO|       SIM|         NÃO|RENATA BARBOSA RO...|
|                             2| ESCOLA MUNICIPAL|       321|     ALTO DO PASCOAL|    LADEIRA DE PEDRA|  1265|       337|         AGUA FRIA|       554|        25|             19|               NÂO|           NÃO|       SIM|         SIM|ROSANA GOMES MARTINS|
+------------------------------+-----------------+----------+--------------------+--------------------+------+----------+------------------+----------+----------+---------------+------------------+--------------+----------+------------+--------------------+
only showing top 20 rows